* {
  font-family: 'Open Sans', sans-serif;
}

.header {
  justify-content: center;
  margin-top: 40px;
}

.menu {
  justify-content: center;
  margin-top: 20px;
}

.menu a {
  color: #333;
}

.convert-currency {
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  padding: 20px;
  margin-top: 20px;
  border-top: 7px solid #16a085;
  border-bottom: 7px solid #16a085;
}

.input-currency {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-currency .form-control {
  width: 300px;
  max-width: 350px;
  margin: 10px;
  height: 45px;
  border: 0px;
  border-radius: 0px;
}

.input-currency span {
    background-color: #fff;
    color: #495057;
    height: 44px;
    width: 10px;
    margin-right: -22px;
    z-index: 1;
    padding: 10px 12px 10px 5px;
}

.input-currency .form-control:disabled {
  background-color: #fff !important;
}

.input-block {
  display: flex;
  align-items: center;;
}

.btn-calculate {
  margin-top: -10px;
  background-color: #2c3e50;
  border-color: #2c3e50;
  width: 200px;
}

.historic-price {
  margin-top: 20px;
  max-width: 700px;
}

@media screen and (max-width: 640px) {
  .input-currency {
    display: block;
  }

  .input-currency .form-control {
    max-width: 100%;
  }
  
  .input-currency span {
    padding-top: 11px;
    height: 45px;
  }
}